/* Align contents of each grid card and make it look clickable. */
h1#custom-emoji ~ * .grid.small-columns li {
  display: flex !important;
  align-items: center;
  cursor: pointer;
}

/* Set the size and margin for all emoji inside the grids. */
h1#custom-emoji ~ * .grid.small-columns img {
  height: 32px;
  width: 32px;
  margin-right: 0.35rem;
}

/* Adjust the size and overflow behavior of emoji shortcodes. */
h1#custom-emoji ~ * .grid.small-columns code {
  display: block;
  font-size: 0.9em;
  overflow: auto;
  scrollbar-width: none;
  text-overflow: ellipsis;
  white-space: nowrap;
}

/* Hide all tab labels/controls (buttons are used instead). */
h1#custom-emoji ~ * .tabbed-labels {
  display: none;
}

/* Remove vertical margins for content tab groups. */
h1#custom-emoji ~ * .tabbed-set {
  margin-top: 0.2rem;
  margin-bottom: 0;
}

/* Fix padding and alignment of all cells in the credits table. */
h1#custom-emoji ~ * table:not([class]) :is(td, th) {
  padding: 1em 2.5em;
  vertical-align: middle;
}

/* Center-align contents of the first column of the credits table. */
h1#custom-emoji ~ * table:not([class]) td:first-child {
  display: flex;
  align-items: center;
}

/* Adjust some features of the layout on smaller (i.e. mobile) screens. */
@media screen and (max-width: 76.25em) {
  /* Facilitate scrolling to see the complete emoji shortcodes. */
  h1#custom-emoji ~ * .grid.small-columns code {
    padding: 0.3em;
    text-overflow: initial;
  }
  /* Hide the last column of the credits table (license info). */
  h1#custom-emoji ~ * table:not([class]) :is(td, th):last-child {
    display: none;
  }
}
