/* Hide third-level headers (they're only there to create ToC links). */
h3 {
  display: none;
}

/* Hide all tab labels/controls (buttons are used instead). */
.md-typeset .tabbed-labels {
  display: none;
}

/* Remove vertical margins for content tab groups. */
.tabbed-set {
  margin-top: 0.2rem !important;
  margin-bottom: 0 !important;
}

/* Align contents of each grid card and make it look clickable. */
.grid.small-columns li {
  display: flex !important;
  align-items: center;
  cursor: pointer;
}

/* Set the size and margin for all emoji inside the grids. */
.grid.small-columns img {
  height: 32px;
  width: 32px;
  margin-right: 0.35rem;
}

/* Adjust the size and overflow behavior of emoji shortcodes. */
.grid.small-columns code {
  display: block;
  font-size: 0.9em;
  overflow: auto;
  scrollbar-width: none;
  text-overflow: ellipsis;
  white-space: nowrap;
}

/* Fix padding and alignment of all cells in the credits table. */
.md-typeset table:not([class]) :is(td, th) {
  padding: 1em 2.5em;
  vertical-align: middle;
}

/* Center-align contents of the first column of the credits table. */
.md-typeset table:not([class]) td:first-child {
  display: flex !important;
  align-items: center;
}

/* Hide the last column of the credits table on smaller screens. */
@media screen and (max-width: 76.25em) {
  .md-typeset table:not([class]) :is(td, th):last-child {
    display: none;
  }
}
