/* Define primary and accent colors for all themes. */
:root {
  --md-primary-fg-color: #d57f7b;
  --md-primary-fg-color--light: #d57f7b;
  --md-primary-fg-color--dark: #d57f7b;
  --md-primary-bg-color: #f8ead4;
  --md-primary-bg-color--light: #f8ead4b3;
  --md-accent-fg-color: #f29894;
  --md-accent-fg-color--transparent: #f298941a;
  --md-accent-bg-color: #f8ead4;
  --md-accent-bg-color--light: #f8ead4b3;
}

/* Define foreground and background colors for light ("default") theme. */
:root,
[data-md-color-scheme="default"] {
  --md-default-fg-color: #14191ade;
  --md-default-fg-color--light: #14191a8a;
  --md-default-fg-color--lighter: #14191a52;
  --md-default-fg-color--lightest: #14191a12;
  --md-default-bg-color: #fcf5ea;
  --md-default-bg-color--light: #fcf5eab3;
  --md-default-bg-color--lighter: #fcf5ea4d;
  --md-default-bg-color--lightest: #fcf5ea1f;
  --md-code-fg-color: #2c393b;
  --md-code-bg-color: #f8ead4;
  --md-footer-fg-color: #fcf5ea;
  --md-footer-fg-color--light: #fcf5eab3;
  --md-footer-fg-color--lighter: #fcf5ea73;
  --md-footer-bg-color: #14191ade;
  --md-footer-bg-color--dark: #14191a52;
}

/* Define foreground and background colors for dark ("slate") theme. */
:root,
[data-md-color-scheme="slate"] {
  --md-default-fg-color: #fefaf5de;
  --md-default-fg-color--light: #fefaf58a;
  --md-default-fg-color--lighter: #fefaf552;
  --md-default-fg-color--lightest: #fefaf512;
  --md-default-bg-color: #1e2527;
  --md-default-bg-color--light: #1e2527b3;
  --md-default-bg-color--lighter: #1e25274d;
  --md-default-bg-color--lightest: #1e25271f;
  --md-code-fg-color: #fcf5ea;
  --md-code-bg-color: #2c393b;
  --md-footer-fg-color: #fcf5ea;
  --md-footer-fg-color--light: #fcf5eab3;
  --md-footer-fg-color--lighter: #fcf5ea73;
  --md-footer-bg-color: #14191a8a;
  --md-footer-bg-color--dark: #14191ab3;
}

/* Adjust some features of the layout on bigger (i.e. non-mobile) screens. */
@media screen and (min-width: 76.25em) {
  /* Constrain the width of the content area to keep it easy-to-read. */
  .md-content {
    max-width: 800px;
  }
  /* Hide the topmost navigation section title and the "Home" link. */
  .md-nav--primary > .md-nav__title,
  .md-nav--primary > .md-nav__list > .md-nav__item:first-child {
    display: none;
  }
  /* Align the second navigation section to where the first one would be. */
  .md-nav--primary > .md-nav__list > .md-nav__item:nth-child(2),
  .md-nav--primary > .md-nav__list > .md-nav__item:nth-child(2) > label {
    margin-top: 0;
  }
}

/* Adjust some features of the layout on smaller (i.e. mobile) screens. */
@media screen and (max-width: 76.25em) {
  /* Hide the "Back to top" button that normally appears when scrolling up. */
  .md-top.md-icon {
    display: none !important;
  }
  /* Hide the "Home" link in the top-level navigation menu. */
  .md-nav--primary > .md-nav__list > .md-nav__item:first-child {
    display: none;
  }
}

/* Adjust the maximum height and scaling/cropping of preview images. */
img.preview {
  max-height: 168px;
  object-fit: cover;
  object-position: bottom;
  width: 100%;
}

/* Make sure that two-column grids have two "cells" in each row. */
.grid.two-columns {
  grid-template-columns: repeat(2, minmax(50%, 1fr)) !important;
}

/* Hide the anchor link for the top-level header on each page. */
.md-typeset h1 > .headerlink {
  display: none;
}

/* Hide sort icons in center-aligned headers for sortable tables. */
.md-typeset__table table th[align="center"]:after {
  display: none !important;
}

/* Add some extra horizontal spacing around emoji. */
.twemoji {
  margin: 0 0.25em;
}
