/* Define primary and accent colors for all themes. */
:root {
  --md-primary-fg-color: #d57f7b;
  --md-primary-fg-color--light: #d57f7b;
  --md-primary-fg-color--dark: #d57f7b;
  --md-primary-bg-color: #f8ead4;
  --md-primary-bg-color--light: #f8ead4b3;
  --md-accent-fg-color: #f29894;
  --md-accent-fg-color--transparent: #f298941a;
  --md-accent-bg-color: #f8ead4;
  --md-accent-bg-color--light: #f8ead4b3;
}

/* Define foreground and background colors for light ("default") theme. */
:root,
[data-md-color-scheme="default"] {
  --md-default-fg-color: #14191ade;
  --md-default-fg-color--light: #14191a8a;
  --md-default-fg-color--lighter: #14191a52;
  --md-default-fg-color--lightest: #14191a12;
  --md-default-bg-color: #fcf5ea;
  --md-default-bg-color--light: #fcf5eab3;
  --md-default-bg-color--lighter: #fcf5ea4d;
  --md-default-bg-color--lightest: #fcf5ea1f;
  --md-code-fg-color: #2c393b;
  --md-code-bg-color: #f8ead4;
  --md-footer-fg-color: #fcf5ea;
  --md-footer-fg-color--light: #fcf5eab3;
  --md-footer-fg-color--lighter: #fcf5ea73;
  --md-footer-bg-color: #14191ade;
  --md-footer-bg-color--dark: #14191a52;
}

/* Define foreground and background colors for dark ("slate") theme. */
:root,
[data-md-color-scheme="slate"] {
  --md-default-fg-color: #fefaf5de;
  --md-default-fg-color--light: #fefaf58a;
  --md-default-fg-color--lighter: #fefaf552;
  --md-default-fg-color--lightest: #fefaf512;
  --md-default-bg-color: #1e2527;
  --md-default-bg-color--light: #1e2527b3;
  --md-default-bg-color--lighter: #1e25274d;
  --md-default-bg-color--lightest: #1e25271f;
  --md-code-fg-color: #fcf5ea;
  --md-code-bg-color: #2c393b;
  --md-footer-fg-color: #fcf5ea;
  --md-footer-fg-color--light: #fcf5eab3;
  --md-footer-fg-color--lighter: #fcf5ea73;
  --md-footer-bg-color: #14191a8a;
  --md-footer-bg-color--dark: #14191ab3;
}

/* Adjust some features of the layout on bigger (i.e. non-mobile) screens. */
@media screen and (min-width: 76.25em) {
  /* Constrain the width of the content area to keep it easy-to-read. */
  .md-content {
    max-width: 800px;
  }
  /* Hide the topmost navigation section title and the "Home" link. */
  .md-nav--primary > .md-nav__title,
  .md-nav--primary > .md-nav__list > .md-nav__item:first-child {
    display: none;
  }
  /* Align the second navigation section to where the first one would be. */
  .md-nav--primary > .md-nav__list > .md-nav__item:nth-child(2),
  .md-nav--primary > .md-nav__list > .md-nav__item:nth-child(2) > label {
    margin-top: 0;
  }
}

/* Adjust some features of the layout on smaller (i.e. mobile) screens. */
@media screen and (max-width: 76.25em) {
  /* Always hide anchor links that appear next to headers. */
  .md-typeset .headerlink {
    display: none;
  }
  /* Hide the "Home" link in the top-level navigation menu. */
  .md-nav--primary > .md-nav__list > .md-nav__item:first-child {
    display: none;
  }
}

/* Adjust the maximum height and scaling/cropping of preview images. */
img.preview {
  max-height: 168px;
  object-fit: cover;
  object-position: bottom;
  width: 100%;
}

/* Hide lowlevel headers (i.e. ToC links) inside expandable categories. */
.category > summary + h3 {
  font-size: 0px;
}

/* Make sure that two-column grids have two "cells" in each row. */
.grid.two-columns {
  grid-template-columns: repeat(2, minmax(50%, 1fr)) !important;
  align-items: center;
  justify-items: center;
}

/* Define grids with columns that are half the normal minimum width. */
.grid.small-columns {
  grid-template-columns: repeat(auto-fit, minmax(8rem, 1fr)) !important;
  margin-top: 0.4rem !important;
  margin-bottom: 0.6rem !important;
}

/* Only display header anchor links when they're being hovered. */
.md-typeset :target > .headerlink:not(:hover) {
  opacity: 0;
  transition: opacity 250ms;
}

/* Hide the anchor link for the top-level header on each page. */
.md-typeset h1 > .headerlink {
  display: none;
}

/* Fix size and margin for all images inside tables. */
.md-typeset table:not([class]) img {
  height: 24px;
  width: 24px;
  margin-right: 0.48rem;
}

/* Slightly increase font size for code text inside tables. */
.md-typeset table:not([class]) code {
  font-size: 0.9em;
}

/* Style "fake button" CTAs that fill their available space. */
.md-typeset .md-button.fill {
  border-radius: 0.2rem;
  padding: 0.5em 0;
  text-align: center;
  white-space: nowrap;
  width: 100%;
}

/* Override some styles to make a "fake button" appear disabled. */
.md-typeset .md-button.fill.disabled {
  background-color: initial;
  border-color: var(--md-default-fg-color--light);
  color: var(--md-default-fg-color--light);
  cursor: initial;
}

/* Add some extra horizontal spacing around emoji. */
.twemoji {
  margin: 0 0.25em;
}
