name: Update Ruby Version

on:
  schedule:
    - cron: 0 1 * * 1
  workflow_dispatch:

jobs:
  update:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    outputs:
      dev_setup_page_updated: ${{ steps.filter.outputs.dev_setup_page }}

    steps:
      - name: Check out repository
        uses: actions/checkout@v3

      - name: Set up Python 3.11
        uses: actions/setup-python@v4
        with:
          python-version: "3.14"
          cache: pip
          cache-dependency-path: .pre-commit-config.yaml

      - name: Set up for pre-commit
        run: |
          pip install -U pip pre-commit
          echo "PY=$(python -VV | sha256sum | cut -d' ' -f1)" >> $GITHUB_ENV

      - name: Restore pre-commit cache
        uses: actions/cache@v3
        with:
          path: ~/.cache/pre-commit
          key:
            pre-commit|${{ env.PY }}|${{ hashFiles('.pre-commit-config.yaml') }}

      - name: Run ruby_version script and pre-commit
        run: |
          pip install -e ./python
          python -m cutiecityguide.ruby_version
          pre-commit run --all-files

      - name: Filter modified file paths
        uses: dorny/paths-filter@v3
        id: filter
        with:
          base: HEAD
          filters: |
            dev_setup_page: docs/self-hosting/development-setup.md

      - name: Auto-commit any changes
        uses: stefanzweifel/git-auto-commit-action@v4
        with:
          commit_message: Update Ruby version on Development Setup page

  publish:
    needs: update
    if: needs.update.outputs.dev_setup_page_updated == 'true'
    uses: ./.github/workflows/publish.yml
    permissions:
      pages: write
      id-token: write
